$mainPadding : 5%;

h1, h2, h3, h4 {
  background: #000;
  color: #FFF;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  padding: 30px $mainPadding;
}

h2 {
  font-size: 2em;
  background: $grey;
  padding: 20px $mainPadding;
  margin-bottom: 10px;
}

h3 {
  font-size: 1em;
  padding: 10px $mainPadding;
}

ul {
  // font-size: 1em;
  // padding: 10px $mainPadding;
}


p {

}

#root {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.page {
  font-size: 1rem;
  animation: pulse 1s;
  h2 {
    animation: smooth-landing 1s;
    animation-timing-function: cubic-bezier(.75,.8,.71,.92);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth-landing {
  0% {
    padding-left: 0;
    color: $grey;
  }
  100% {
    padding-left: 5%;
    color: #FFF;
  }
}

.visible {

}
