/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, sass/_01base.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, sass/_01base.scss */
html, body {
  height: 100%;
}

/* line 18, sass/_01base.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 24, sass/_01base.scss */
body {
  font-family: 'Nunito Sans', serif;
  font-size: 12px;
  background: #FFF;
}

/* line 31, sass/_01base.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 35, sass/_01base.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

/* line 41, sass/_01base.scss */
.hidden {
  display: none;
}

/* line 3, sass/_03layout.scss */
h1, h2, h3, h4 {
  background: #000;
  color: #FFF;
}

/* line 8, sass/_03layout.scss */
h1 {
  font-size: 3em;
  text-transform: uppercase;
  padding: 30px 5%;
}

/* line 14, sass/_03layout.scss */
h2 {
  font-size: 2em;
  background: #ECECEC;
  padding: 20px 5%;
  margin-bottom: 10px;
}

/* line 21, sass/_03layout.scss */
h3 {
  font-size: 1em;
  padding: 10px 5%;
}

/* line 36, sass/_03layout.scss */
#root {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/* line 42, sass/_03layout.scss */
.page {
  font-size: 1rem;
}

/* line 1, sass/_05nav.scss */
.page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* line 5, sass/_05nav.scss */
.page-nav a {
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

/* line 2, sass/_07restos.scss */
.page-restos ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 5, sass/_07restos.scss */
.page-restos ul li {
  flex: 0 1 25%;
}
/* line 11, sass/_07restos.scss */
.page-restos ul li a {
  padding: 10px;
  border: 2px solid #FFF;
  background: #ECECEC;
  display: block;
  height: 250px;
}
